/* This stylesheet is used to style the public-facing components of the plugin. */
/* http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
/* ====== media ====== */
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}

.media .cf > * {

  vertical-align: bottom;
  display:        inline-block;
  /* ie6/7 */
  *display:       inline;
  zoom:           1;
}

/* ====== making everything look okay ===== */
$alert-color: rgb(248, 230, 34);
$alert-color--transparent: rgba(248, 230, 34, .8);

$now-playing-green: rgb(25, 165, 93);
/*$alert-color--transparent: rgba(25, 165, 93, .85);*/

/* 227, 211, 42, 1 */
$orange-on-hover: #FF8730;

$alert-icon-font-size: 1.2;
$title-icon-font-size: 1;


@mixin usc_screening__showtime($padding: 3px) {

  border: 1px solid #CCC;
  background-color: #FFF;
  display: inline-block;
  margin: 1px;
  padding: $padding;

  &:hover {

    border: 1px solid #AAAAAA;
    cursor: default;
  }
}

@mixin usc_screening__button() {

  color:            #FFF;
  background-color: #666;
  text-align:       center;
  padding:          5px;
  display:          inline-block;
  margin-top:       1em;
  width:            100%;
  transition:       all 0.2s ease 0s;

  &:hover {
    background-color: $orange-on-hover;
  }

}

#back_to_home {

  background-color: #EFEFEF !important;

  .et_pb_row {

    padding: 0;


    .et_pb_column {

      padding-bottom: 0;
    }

    a.arrow_back {

      @include  usc_screening__button();

      margin-top:       0;
      padding:          20px 0 18px 0;
      color:            white;
      background-color: #222222;
      font-family:      'bignoodletitlingoblique', Helvetica, Arial, sans-serif;
      font-size:        2.2em;

      &:before {

        content: "\4a";
        font-family: 'ETmodules';
        font-weight: 400;
        margin-left: -(2.2 / 4) + em;
      }
    }
  }
}

.single-usc_screenings #main-content {

  background-color: #FBFBFB;

  .container{

    padding-top: 0;

    &:before {

      width:   0px;
      display: none;
    }
  }

  .et_pb_section {

    background-color: #FBFBFB;
  }
}

.shortcode-usc_screenings,
.type-usc_screenings {

  .etmodules:before {

    font-family: 'ETmodules';
    font-weight: 400;
    position: absolute;
  }

  .usc_screenings__link {

    @include usc_screening__button();
  }


  .usc_screenings__alert {

    box-sizing:       border-box;
    color:            #ffffff;
    background-color: $alert-color;
    position:         relative;
    margin-bottom:    1em;
    font-size:        1.3em;

    &:hover {

      background-color: $alert-color--transparent;
    }

    .usc_screenings__alert__message {

      display:      inline-block;
      cursor:       default;
      padding-left: $alert-icon-font-size * 2 + em

    }

    .icon_error-triangle {

      &:before {

        font-size:    $alert-icon-font-size + em;
        margin-left:  -($alert-icon-font-size + ($alert-icon-font-size * .2)) + em;
        content:      "\e063"; /* icon_error-triangle */
        color:        #FFFFFF;
      }
    }
  }
}



.shortcode-usc_screenings {

  position:       relative;
  padding-top:    20px;
  margin:         20px 10px;
  border-top:     1px solid #CCC;
  box-sizing:     border-box;

  &:first-of-type {

    border-top: none;
  }

  * {

    box-sizing: border-box;
  }

  .usc_screenings__content p,
  .usc_screenings__content p:last-of-type {

    padding-bottom: .45em !important;
  }



  .usc_screenings__title {
    font-size:      1.6em;
    color: #666;
  }

  .usc_screenings__showtimes,
  .usc_screenings__links {

    float: left;
  }

  .subhead {

    min-width: 65px;
    display: inline-block;
    font-weight: 600;
  }

  .usc_screenings__showtimes {

    width:  55%;

    p {

      line-height: 1.2em;
      padding-bottom: .1em;
    }

    .dates {

      font-weight: 700;
      font-style: italic;
      padding: .8em 0;
    }

    .subhead {

      font-weight: 400;
    }

    .showtime {

      @include usc_screening__showtime();
    }
  }

  .usc_screenings__links {

    width: 45%;

  }
}

.type-usc_screenings {

  * {

    box-sizing: border-box;
  }

  .entry-content div[class^="usc_screenings"] {

    margin-bottom: 1em;
  }

  .subhead {

    font-size:    0.9em;
    font-weight:  700;
    font-style:   italic;
  }

  .usc_screenings__trailer_link {

    margin-top: 2.4em;
  }

  .usc_screenings__title {

    font-size: 3em;

    .etmodules {
      display:  none;
    }

    &.now_playing {
      padding-left: $title-icon-font-size + em;

      .etmodules {
        display:  inline;
      }

      .icon_box-checked:before {
        margin-top:   -($title-icon-font-size * .125) + em;
        font-size:    $title-icon-font-size + em;
        margin-left:  -($title-icon-font-size * 1.1 ) + em;
        content:      "\5a"; /* icon_check_alt2 */
        color:        $now-playing-green;
      }
    }
  }

  .usc_screenings__showtimes {

    padding-bottom: 1em;
    border-bottom: 1px dotted #CCC;

    h2 { margin: 0; }

    /* So that we can simulate same-sized columns
    http://jsfiddle.net/kaAjW/2871/ */
    overflow: hidden;

    .showtimes__dates {
      display: inline-block;
      width: 100%;

    }

    .showtimes__dates--left,
    .showtimes__dates--right {

      width: 50%;
      float: left;

      /* Arbitrarily large values so that we can set a background color. */
      padding-bottom: 1000px;
      margin-bottom: -1000px;
    }

    .showtimes__dates--playing {

      background-color: #F2F2F2;
    }

    .showtimes__hours {

      padding-bottom: .1em;

      .showtime {

        @include usc_screening__showtime(3px 8px);

        &:hover + .showtime__end {
          color: #444;
        }
      }

      .showtime__end {

        font-size: 0.9em;
        color: #AAA;
      }
    }



  }


}

@media screen and (max-width: 979px) {

  .type-usc_screenings {

    .et_pb_column:first-of-type {

      display:none;
    }
  }
}

@media screen and (max-width: 767px) {

  .shortcode-usc_screenings {

    .usc_screenings__title {
      font-size:      2em;
    }

    .media .img,
    .bd p {

      display: none;

      &.rating {

        display: block;
        font-size: 1.2em;
      }

    }

    .usc_screenings__showtimes,
    .usc_screenings__links {

      width: 100%;

      .dates {

        font-size:  1.2em;
        padding:    0 0 .8em 0;
      }
    }
  }


  .type-usc_screenings {

    .entry-content {

      padding-top: 20px;

      .usc_screenings__showtimes h2 {

        font-size: 2.2em;
      }
    }
  }
}

@media screen and (max-width: 479px) {

  .et_pb_all_tabs {

    padding: 10px 12px;
  }

  .shortcode-usc_screenings {

    .usc_screenings__title {
      font-size:      2.6em;
    }

    .etmodules {
      display: none;
    }


    .usc_screenings__showtimes {

      p {

        padding-bottom: 1em;
      }

      .subhead {

        width: 100%;
      }
    }
  }

  .type-usc_screenings {

    .usc_screenings__showtimes {

      .showtimes__dates--left,
      .showtimes__dates--right {

        width: 100%;
        padding-top: 1.6em;

      }
    }
  }
}


