/* This stylesheet is used to style the public-facing components of the plugin. */
/* http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
/* ====== media ====== */
.media, .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

.media .img {
  float: left;
  margin-right: 10px; }

.media .img img {
  display: block; }

.media .imgExt {
  float: right;
  margin-left: 10px; }

.media .cf > * {
  vertical-align: bottom;
  display: inline-block;
  /* ie6/7 */
  *display: inline;
  zoom: 1; }

/* ====== making everything look okay ===== */
/*$alert-color--transparent: rgba(25, 165, 93, .85);*/
/* 227, 211, 42, 1 */
.single-usc_screenings #main-content {
  background-color: #FBFBFB; }
  .single-usc_screenings #main-content .container {
    padding-top: 0; }
    .single-usc_screenings #main-content .container:before {
      width: 0px;
      display: none; }
  .single-usc_screenings #main-content .et_pb_section {
    background-color: #FBFBFB; }

.shortcode-usc_screenings .etmodules:before,
.type-usc_screenings .etmodules:before {
  font-family: 'ETmodules';
  font-weight: 400;
  position: absolute; }
.shortcode-usc_screenings .usc_screenings__links .usc_screenings__link,
.type-usc_screenings .usc_screenings__links .usc_screenings__link {
  color: #FFF;
  background-color: #666;
  text-align: center;
  padding: 5px;
  display: inline-block;
  margin-top: 1em;
  width: 100%;
  transition: all 0.2s ease 0s; }
  .shortcode-usc_screenings .usc_screenings__links .usc_screenings__link:hover,
  .type-usc_screenings .usc_screenings__links .usc_screenings__link:hover {
    background-color: #ff8730; }
.shortcode-usc_screenings .usc_screenings__alerts .usc_screenings__alert,
.type-usc_screenings .usc_screenings__alert {
  box-sizing: border-box;
  color: #ffffff;
  background-color: #2ea3f2;
  position: relative;
  margin-bottom: 1em;
  font-size: 1.3em; }
  .shortcode-usc_screenings .usc_screenings__alerts .usc_screenings__alert:hover,
  .type-usc_screenings .usc_screenings__alert:hover {
    background-color: rgba(46, 163, 242, 0.8); }
  .shortcode-usc_screenings .usc_screenings__alerts .usc_screenings__alert .usc_screenings__alert__message,
  .type-usc_screenings .usc_screenings__alert .usc_screenings__alert__message {
    display: inline-block;
    cursor: default;
    padding-left: 2.4em; }
  .shortcode-usc_screenings .usc_screenings__alerts .usc_screenings__alert .icon_error-triangle:before,
  .type-usc_screenings .usc_screenings__alert .icon_error-triangle:before {
    font-size: 1.2em;
    margin-left: -1.44em;
    content: "\e063";
    /* icon_error-triangle */
    color: #FFFFFF; }
.shortcode-usc_screenings .usc_screenings__alerts {
  display: block;
  position: absolute;
  width: 100%;
}

.shortcode-usc_screenings {
  position: relative;
  padding-top: 20px;
  margin: 20px 10px;
  border-top: 1px solid #CCC;
  box-sizing: border-box; }
  .shortcode-usc_screenings:first-of-type {
    border-top: none; }
  .shortcode-usc_screenings * {
    box-sizing: border-box; }
  .shortcode-usc_screenings .bd p,
  .shortcode-usc_screenings .bd p:last-of-type {
    padding-bottom: .45em !important;
    line-height: 1.5em; }
  .shortcode-usc_screenings .usc_screenings__title {
    font-size: 1.6em;
    color: #666;
    transition: all 0.2s ease 0s; }
    .shortcode-usc_screenings .usc_screenings__title:hover {
      color: #ff8730; }
  .shortcode-usc_screenings .usc_screenings__showtimes,
  .shortcode-usc_screenings .usc_screenings__links {
    float: left; }
  .shortcode-usc_screenings .subhead {
    min-width: 65px;
    display: inline-block;
    font-weight: 600; }
  .shortcode-usc_screenings .usc_screenings__showtimes {
    width: 55%; }
    .shortcode-usc_screenings .usc_screenings__showtimes p {
      line-height: 1.2em;
      padding-bottom: .1em; }
    .shortcode-usc_screenings .usc_screenings__showtimes .dates {
      font-weight: 700;
      font-style: italic;
      padding: .8em 0;
      font-size: 1.1em; }
    .shortcode-usc_screenings .usc_screenings__showtimes .subhead {
      min-width: 115px;
      font-weight: 400; }
    .shortcode-usc_screenings .usc_screenings__showtimes .showtime {
      border: 1px solid #CCC;
      background-color: #FFF;
      display: inline-block;
      margin: 1px;
      padding: 3px; }
      .shortcode-usc_screenings .usc_screenings__showtimes .showtime:hover {
        border: 1px solid #AAAAAA;
        cursor: default; }
  .shortcode-usc_screenings .usc_screenings__links {
    width: 45%;
    position: absolute;
    bottom: 0;
    right: 0; }

.type-usc_screenings * {
  box-sizing: border-box; }
.type-usc_screenings .entry-content div[class^="usc_screenings"] {
  margin-bottom: 1em; }
.type-usc_screenings .subhead {
  font-size: 0.9em;
  font-weight: 700;
  font-style: italic; }
.type-usc_screenings .usc_screenings__trailer_link {
  margin-top: 2.4em; }
.type-usc_screenings .usc_screenings__title {
  font-size: 3em; }
  .type-usc_screenings .usc_screenings__title .etmodules {
    display: none; }
  .type-usc_screenings .usc_screenings__title.now_playing {
    padding-left: 1em; }
    .type-usc_screenings .usc_screenings__title.now_playing .etmodules {
      display: inline; }
    .type-usc_screenings .usc_screenings__title.now_playing .icon_box-checked:before {
      margin-top: -0.125em;
      font-size: 1em;
      margin-left: -1.1em;
      content: "\5a";
      /* icon_check_alt2 */
      color: #19a55d; }
.type-usc_screenings .usc_screenings__showtimes {
  padding-bottom: 1em;
  border-bottom: 1px dotted #CCC;
  /* So that we can simulate same-sized columns
  http://jsfiddle.net/kaAjW/2871/ */
  overflow: hidden; }
  .type-usc_screenings .usc_screenings__showtimes h2 {
    margin: 0; }
  .type-usc_screenings .usc_screenings__showtimes .showtimes__dates {
    display: inline-block;
    width: 100%; }
  .type-usc_screenings .usc_screenings__showtimes .showtimes__dates--left,
  .type-usc_screenings .usc_screenings__showtimes .showtimes__dates--right {
    width: 50%;
    float: left;
    /* Arbitrarily large values so that we can set a background color. */
    padding-bottom: 1000px;
    margin-bottom: -1000px; }
  .type-usc_screenings .usc_screenings__showtimes .showtimes__dates--playing {
    background-color: #F2F2F2; }
  .type-usc_screenings .usc_screenings__showtimes .showtimes__hours {
    padding-bottom: .1em; }
    .type-usc_screenings .usc_screenings__showtimes .showtimes__hours .showtime {
      border: 1px solid #CCC;
      background-color: #FFF;
      display: inline-block;
      margin: 1px;
      padding: 3px 8px; }
      .type-usc_screenings .usc_screenings__showtimes .showtimes__hours .showtime:hover {
        border: 1px solid #AAAAAA;
        cursor: default; }
      .type-usc_screenings .usc_screenings__showtimes .showtimes__hours .showtime:hover + .showtime__end {
        color: #444; }
    .type-usc_screenings .usc_screenings__showtimes .showtimes__hours .showtime__end {
      font-size: 0.9em;
      color: #AAA; }

@media screen and (max-width: 980px) {
  .type-usc_screenings .et_pb_column:first-of-type {
    display: none; } }
@media screen and (max-width: 768px) {
  .shortcode-usc_screenings {
    padding-top: 30px; }
    .shortcode-usc_screenings .usc_screenings__title h2 {
      font-size: 2em;
      padding-bottom: 0; }
    .shortcode-usc_screenings .media .img,
    .shortcode-usc_screenings .bd p {
      display: none; }
      .shortcode-usc_screenings .media .img.usc_screenings__rating,
      .shortcode-usc_screenings .bd p.usc_screenings__rating {
        display: block;
        font-size: 1.1em;
        padding-bottom: 1em !important; }
    .shortcode-usc_screenings .usc_screenings__showtimes,
    .shortcode-usc_screenings .usc_screenings__links {
      width: 100%;
      position: relative; }
      .shortcode-usc_screenings .usc_screenings__showtimes .dates,
      .shortcode-usc_screenings .usc_screenings__links .dates {
        font-size: 1.2em;
        padding: 0 0 .8em 0; }
      .shortcode-usc_screenings .usc_screenings__showtimes .subhead,
      .shortcode-usc_screenings .usc_screenings__links .subhead {
        min-width: 50%; }
      .shortcode-usc_screenings .usc_screenings__showtimes .subhead, .shortcode-usc_screenings .usc_screenings__showtimes .showtime,
      .shortcode-usc_screenings .usc_screenings__links .subhead,
      .shortcode-usc_screenings .usc_screenings__links .showtime {
        font-size: 1.1em; }

  .type-usc_screenings .entry-content {
    padding-top: 20px; }
    .type-usc_screenings .entry-content .usc_screenings__showtimes h2 {
      font-size: 2.2em; } }
@media screen and (max-width: 480px) {
  #scrn-tabs .et_pb_all_tabs {
    padding: 10px 12px; }

  .shortcode-usc_screenings .usc_screenings__title h2 {
    font-size: 1.8em; }
  .shortcode-usc_screenings .etmodules {
    display: none; }
  .shortcode-usc_screenings .usc_screenings__showtimes p {
    padding-bottom: .8em; }
  .shortcode-usc_screenings .usc_screenings__showtimes .subhead {
    width: 100%;
    padding-bottom: .4em; }

  .type-usc_screenings .usc_screenings__showtimes .showtimes__dates--left,
  .type-usc_screenings .usc_screenings__showtimes .showtimes__dates--right {
    width: 100%;
    padding-top: 1.6em; } }
