/* This stylesheet is used to style the public-facing components of the plugin. */
/* http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
/* ====== media ====== */
.media, .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

.media .img {
  float: left;
  margin-right: 10px; }

.media .img img {
  display: block; }

.media .imgExt {
  float: right;
  margin-left: 10px; }

.media .cf > * {
  vertical-align: bottom;
  display: inline-block;
  /* ie6/7 */
  *display: inline;
  zoom: 1; }

/* ====== making everything look okay ===== */
.single-usc_screenings #main-content .container {
  padding-top: 0; }
  .single-usc_screenings #main-content .container:before {
    width: 0px;
    display: none; }

.usc_screenings-shortcode .etmodules:before,
.type-usc_screenings .etmodules:before {
  font-family: 'ETmodules';
  font-weight: 400;
  position: absolute; }
.usc_screenings-shortcode .usc_screenings__link,
.type-usc_screenings .usc_screenings__link {
  color: #FFF;
  background-color: #666;
  text-align: center;
  padding: 5px;
  display: inline-block;
  margin-top: 1em;
  width: 100%;
  transition: all 0.2s ease 0s; }
  .usc_screenings-shortcode .usc_screenings__link:hover,
  .type-usc_screenings .usc_screenings__link:hover {
    background-color: #ff8730; }

.usc_screenings-shortcode {
  position: relative;
  padding-top: 20px;
  margin: 20px 10px;
  border-top: 1px solid #CCC;
  box-sizing: border-box; }
  .usc_screenings-shortcode:first-of-type {
    border-top: none; }
  .usc_screenings-shortcode * {
    box-sizing: border-box; }
  .usc_screenings-shortcode .usc_screenings__content p,
  .usc_screenings-shortcode .usc_screenings__content p:last-of-type {
    padding-bottom: .45em !important; }
  .usc_screenings-shortcode .usc_screenings__alert {
    box-sizing: border-box;
    padding: 5px 5px 5px 0;
    color: #ffffff;
    background-color: #19a55d;
    position: relative;
    margin-bottom: 1em; }
    .usc_screenings-shortcode .usc_screenings__alert:hover {
      background-color: rgba(25, 165, 93, 0.85); }
    .usc_screenings-shortcode .usc_screenings__alert .usc_screenings__alert__message {
      display: inline-block;
      padding-left: 1.4em;
      cursor: default; }
    .usc_screenings-shortcode .usc_screenings__alert .icon_error-triangle {
      margin: 10px; }
      .usc_screenings-shortcode .usc_screenings__alert .icon_error-triangle:before {
        padding: 1px;
        font-size: 1.4em;
        content: "\e063";
        /* icon_error-triangle */
        color: #FFFFFF; }
  .usc_screenings-shortcode .usc_screenings__title {
    font-size: 1.6em;
    color: #666; }
  .usc_screenings-shortcode .usc_screenings__showtimes,
  .usc_screenings-shortcode .usc_screenings__links {
    float: left; }
  .usc_screenings-shortcode .subhead {
    min-width: 65px;
    display: inline-block;
    font-weight: 600; }
  .usc_screenings-shortcode .usc_screenings__showtimes {
    width: 55%; }
    .usc_screenings-shortcode .usc_screenings__showtimes p {
      line-height: 1.2em;
      padding-bottom: .1em; }
    .usc_screenings-shortcode .usc_screenings__showtimes .dates {
      font-weight: 700;
      font-style: italic;
      padding: .8em 0; }
    .usc_screenings-shortcode .usc_screenings__showtimes .subhead {
      font-weight: 400; }
    .usc_screenings-shortcode .usc_screenings__showtimes .showtime {
      border: 1px solid #CCC;
      background-color: #FFF;
      display: inline-block;
      margin: 1px;
      padding: 3px; }
      .usc_screenings-shortcode .usc_screenings__showtimes .showtime:hover {
        border: 1px solid #AAAAAA;
        cursor: default; }
  .usc_screenings-shortcode .usc_screenings__links {
    width: 45%; }

.type-usc_screenings * {
  box-sizing: border-box; }
.type-usc_screenings .entry-content div[class^="usc_screenings"] {
  margin-bottom: 1em; }
.type-usc_screenings .subhead {
  font-size: 0.9em;
  font-weight: 700;
  font-style: italic; }
.type-usc_screenings .usc_screenings__title {
  font-size: 3em; }
  .type-usc_screenings .usc_screenings__title .etmodules {
    display: none; }
  .type-usc_screenings .usc_screenings__title.now_playing {
    padding-left: 1em; }
    .type-usc_screenings .usc_screenings__title.now_playing .etmodules {
      display: inline; }
    .type-usc_screenings .usc_screenings__title.now_playing .arrow_triangle-right_alt:before {
      margin-top: -0.2em;
      font-size: 1em;
      margin-left: -1.1em;
      content: "\49";
      /* icon_error-triangle */ }
.type-usc_screenings .usc_screenings__showtimes {
  padding-bottom: 1em;
  border-bottom: 1px dotted #CCC;
  /* So that we can simulate same-sized columns
  http://jsfiddle.net/kaAjW/2871/ */
  overflow: hidden; }
  .type-usc_screenings .usc_screenings__showtimes h2 {
    margin: 0; }
  .type-usc_screenings .usc_screenings__showtimes .showtimes__dates {
    display: inline-block;
    width: 100%; }
  .type-usc_screenings .usc_screenings__showtimes .showtimes__dates--left,
  .type-usc_screenings .usc_screenings__showtimes .showtimes__dates--right {
    width: 50%;
    float: left;
    /* Arbitrarily large values so that we can set a background color. */
    padding-bottom: 1000px;
    margin-bottom: -1000px; }
  .type-usc_screenings .usc_screenings__showtimes .showtimes__dates--playing {
    background-color: #F2F2F2; }
  .type-usc_screenings .usc_screenings__showtimes .showtimes__hours {
    padding-bottom: .1em; }
    .type-usc_screenings .usc_screenings__showtimes .showtimes__hours .showtime {
      border: 1px solid #CCC;
      background-color: #FFF;
      display: inline-block;
      margin: 1px;
      padding: 3px 8px; }
      .type-usc_screenings .usc_screenings__showtimes .showtimes__hours .showtime:hover {
        border: 1px solid #AAAAAA;
        cursor: default; }
      .type-usc_screenings .usc_screenings__showtimes .showtimes__hours .showtime:hover + .showtime__end {
        color: #444; }
    .type-usc_screenings .usc_screenings__showtimes .showtimes__hours .showtime__end {
      font-size: 0.9em;
      color: #AAA; }

@media screen and (max-width: 767px) {
  .usc_screenings-shortcode .usc_screenings__title {
    font-size: 2em; }
  .usc_screenings-shortcode .media .img,
  .usc_screenings-shortcode .bd p {
    display: none; }
    .usc_screenings-shortcode .media .img.rating,
    .usc_screenings-shortcode .bd p.rating {
      display: block;
      font-size: 1.2em; }
  .usc_screenings-shortcode .usc_screenings__showtimes,
  .usc_screenings-shortcode .usc_screenings__links {
    width: 100%; }
    .usc_screenings-shortcode .usc_screenings__showtimes .dates,
    .usc_screenings-shortcode .usc_screenings__links .dates {
      font-size: 1.2em;
      padding: 0 0 .8em 0; } }
@media screen and (max-width: 479px) {
  .et_pb_all_tabs {
    padding: 10px 12px; }

  .usc_screenings-shortcode .usc_screenings__title {
    font-size: 2.6em; }
  .usc_screenings-shortcode .etmodules {
    display: none; }
  .usc_screenings-shortcode .usc_screenings__showtimes p {
    padding-bottom: 1em; }
  .usc_screenings-shortcode .usc_screenings__showtimes .subhead {
    width: 100%; } }
